<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.productmanager.product.mapper.ProductMapper">
    <select id="listProduct" resultMap="com.example.productmanager.product.DO.ProductDO">
        select * from product
    </select>

    <insert id="addProduct" parameterType="com.example.productmanager.product.DO.ProductDO">
        insert into product(NAME, PRICE) values(#{name}, #{price}, NOW(), NOW())
    </insert>

    <select id="getProductByName" parameterType="java.lang.String" resultMap="com.example.productmanager.product.DO.ProductDO">
        select * from product where NAME = #{name}
    </select>
</mapper>