<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.productmanager.product.mapper.ProductMapper">
    <select id="listProduct" resultType="com.example.productmanager.product.DO.ProductDO">
        select * from product
    </select>

    <insert id="addProduct" parameterType="com.example.productmanager.product.DO.ProductDO">
        insert into product(NAME, PRICE, TIME_CREATED, TIME_UPDATED) values(#{name}, #{price}, NOW(), NOW())
    </insert>

    <select id="getProductByName" parameterType="java.lang.String" resultType="com.example.productmanager.product.DO.ProductDO">
        select * from product where NAME = #{name}
    </select>

    <select id="fuzzyQueryProductByName" parameterType="java.lang.String" resultType="com.example.productmanager.product.DO.ProductDO">
        select * from product where NAME like '%${fuzzyName}%'
    </select>

    <select id="findByNames" resultType="com.example.productmanager.product.DO.ProductDO">
        select * from product where NAME in 
        <foreach collection="nameList" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>
</mapper>