<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.productmanager.product.mapper.ProductMapper">
    <select id="listProduct" resultMap="product">
        select * from product
    </select>

    <insert id="addProduct" parameterType="com.example.productmanager.product.DO.ProductDO">
        insert into product(NAME, PRICE, STATUS, TIME_CREATED, TIME_UPDATED) values(#{name}, #{price}, #{status}, NOW(), NOW())
    </insert>

    <select id="getProductByName" parameterType="java.lang.String" resultMap="product">
        select * from product where NAME = #{name}
    </select>

    <select id="fuzzyQueryProductByName" parameterType="java.lang.String" resultMap="product">
        select * from product where NAME like '%${fuzzyName}%'
    </select>

    <select id="findByNames" resultMap="product">
        select * from product where NAME in 
        <foreach collection="nameList" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>

    <update id="update" parameterType="com.example.productmanager.product.DO.ProductDO">
        update product set TIME_UPDATED = NOW() 
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="price != null">
            , PRICE = #{price}
        </if>
        <if test="status != null and status != ''">
            , STATUS = #{status}
        </if>
        where ID = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Long">
        update product set TIME_UPDATED = NOW(), STATUS = 'D' where ID = #{id}
    </update>

    <resultMap id="product" type="com.example.productmanager.product.DO.ProductDO">
        <id column="id" property="id" />
        <result column="NAME" property="name" />
        <result column="PRICE" property="price" />
        <result column="STATUS" property="status" />
        <result column="TIME_CREATED" property="timeCreated" />
        <result column="TIME_UPDATED" property="timeUpdated" />
    </resultMap>
</mapper>